footer {
    grid-area: footer;
    background-color: rgb(151, 205, 253);
    border-radius: 7px;
    border: 2px solid rgb(94, 94, 170);
    min-height: 100px;
}

footer h3 {
    margin-left: 30px;
    margin-top: 40px; 
}