.wrapper {
   max-width: 1200px; 
   margin: 0 auto;
   display: grid;
   grid-template-areas: 
   'header header header header header header header'
   'main main main main aside aside aside'
   'footer footer footer footer footer footer footer';
}